<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
    <div class="container-fluid">
        <h1 class="text-primary text-center">About Kyle's Workout Warehouse</h1>
        <div class="card">
            <h3>What We Do</h3>
            <p>
                Established 2025, Kyle's Workout Warehouse provides all the essentials you need to build your dream or commercial gym.
                We specialize in providing you with both fully assembled fitness products and individual parts necessary to customize your fitness setup.
            </p>

            <h3>Our Products</h3>
            <p>
                At Kyle's Workout Warehouse we supply only the highest quality of both individual parts and products.
                We provide essentials like Squat Racks, Deadlift Platforms, Bench Presses, Smith Machines, and Pull-Up Racks.
                We also provide individual parts like 5, 10, 25, and 45 pound plates, as well as various Barbells.
            </p>

            <h3>Our Mission</h3>
            <p>
                We believe training should be easy, affordable, and accessible for
            </p>
        </div>

        <br><br>
        <a href="http://localhost:8080/" class="btn btn-secondary">Link
            to Main Screen</a>
    </div>
</body>
</html>